<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../../js/vue.min.js" ></script>
	</head>
	<body>
		<div id="vm">
			<input type="text" v-model="parentMsg" />
			<br />
			<child message="Hello" :my-msg="parentMsg" v-bind="todo"></child>
		</div>
		<script>
			/*
			 每次父组件更新时，子组件的所有 prop 都会更新为最新值。这意味着你不应该在子组件内部改变 prop。如果你这么做了，Vue 会在控制台给出警告。
			在两种情况下，我们很容易忍不住想去修改 prop 中数据：
			Prop 作为初始值传入后，子组件想把它当作局部数据来用；
			Prop 作为原始数据传入，由子组件处理成其它数据输出。
			对这两种情况，正确的应对方式是：
			1. 定义一个局部变量，并用 prop 的值初始化它：
			2. 定义一个计算属性，处理 prop 的值并返回：
			 * */
			Vue.component('child', {
				// 声明 Props
				props: ['message', 'myMsg', 'text', 'isComplete', 'initialCounter', 'size'],
				data: function () {
					return {
						counter: this.initialCounter
					}
				},
				computed: {
					normalizedSize: function () {
						return this.size.trim().toLowerCase();
					}
				},
				template: '<span>{{ message }} {{myMsg}} {{ text }} {{ isComplete }}</span>'
			});
			
			var vm = new Vue({
				el: '#vm',
				data: {
					parentMsg: 'Message from parent',
					todo: {
						text: 'Learn Vue',
						isComplete: false
					}
				}
			});
			/*
			 注意在 JavaScript 中对象和数组是引用类型，指向同一个内存空间，
			 如果 prop 是一个对象或数组，在子组件内部改变它会影响父组件的状态。
			 * */
		</script>
	</body>
</html>
