<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../js/vue.min.js" ></script>
	</head>
	<body>
		<div id="vm">
			<!-- 当选中时，`picked` 为字符串 "a" -->
			<input type="radio" v-model="picked" value="a" id="pick"/>
			<label for="pick">Pick</label>
			
			<!-- `toggle` 为 true 或 false -->
			<input type="checkbox" v-model="toggled">
			
			<!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
			<select v-model="selected">
			  <option value="abc">ABC</option>
			</select>
			
			<h3>复选框</h3>
			<input type="checkbox" v-model="toggle" true-value="yes" false=value="no" />
			
			<h3>单选按钮</h3>
			<input type="radio" v-model="picked" :value="a"/>
			
			<h3>选择框的选项</h3>
			<select v-model="selected">
				 <!-- 内联对象字面量 -->
				<option :value="{ number: 123 }">123</option>
			</select>
		</div>
		
		<script>
			var vm = new Vue({
				el: '#vm',
				data: {
					picked: 'a',
					toggled: true,
					selected: '',
					toggle: 'yes',
					a: 'a'
				}
			});
			// 复选框
			// 当选中时
			// vm.toggle === 'yes'
			// 当没有选中时
			// vm.toggle === 'no'
			
			// 单选按钮
			// 当选中时
			// vm.pick === vm.a
			
			// 选择框的选项
			// 当选中时
			// typeof vm.selected // => 'object'
			// vm.selected.number // => 123
		</script>
	</body>
</html>
