<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../../js/vue.js" ></script>
	</head>
	<body>
		<div id="vm">
			<h1>我是父组件的标题</h1>
			<my-component>
				<p>这是一些初始内容</p>
				<p>这是更多的初始内容</p>
			</my-component>
		</div>
		
		<script>
			Vue.component('my-component', {
				template: '\
					<div>\
						<h2>我是子组件的标题</h2>\
						<slot>\
						只有在没有要分发的内容时才会显示。\
						</slot>\
						<p>***************************</p>\
						<slot>ssssssssssssssssss</slot>\
					</div>\
				',
			});
			new Vue({
				el: '#vm'
			})
		</script>
	</body>
</html>
