<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../js/vue.min.js" ></script>
	</head>
	<body>
		<div id="vm">
			v-for 也可以取整数。在这种情况下，它将重复多次模板。
			<br />
			<span v-for="n in 10">{{ n }} </span>
			<p>可以利用带有 v-for 的 &lt;template&gt; 渲染多个元素</p>
			
			<ul>
				<template v-for="item in items">
					<li>{{ item.msg }}</li>
					<li class="divider"></li>
				</template>
			</ul>
		</div>
		
		<script>
			var vm  = new Vue({
				el: '#vm',
				data: {
					items: [
						{ id: 1, msg: 'Foo' },
						{ id: 2, msg: 'Baz' }
					]
				}
			})
		</script>
	</body>
</html>
